<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
  -->
  <title>Kolben Hydraulics | Products</title>
    <!--
    Favicons
    =============================================
  -->
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">

  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
    <!--
    Stylesheets
    =============================================

  -->
  <!-- Default stylesheets-->
  <link href="assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Template specific stylesheets-->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="assets/lib/animate.css/animate.css" rel="stylesheet">
  <link href="assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/lib/et-line-font/et-line-font.css" rel="stylesheet">
  <link href="assets/lib/flexslider/flexslider.css" rel="stylesheet">
  <link href="assets/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
  <link href="assets/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
  <link href="assets/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
  <!-- Main stylesheet and color file-->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/filter.css" rel="stylesheet">
  <link id="color-scheme" href="assets/css/colors/default.css" rel="stylesheet">
  <style>
  .tr-first{
    color:white;
    background-color: black;
  }
  .about-page-header{
    padding:387px 0px;
    margin-top:50px;
    background-size: contain;
  }
  .container{
    margin-left:auto !important;
    margin-right:auto !important;
  }
  </style>
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
  <main>
    <div class="page-loader">
      <div class="loader">Loading...</div>
    </div>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-left" href="index.html"><img style="padding-left:10px; padding-bottom: 2px; padding-top: 2px;" src="assets/images/logo-1.png"></img></a>
        </div>
        <div class="collapse navbar-collapse" id="custom-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html">Home</a></li>
            <li><a class="section-scroll" href="about.html">About us</a></li>
            <li><a class="section-scroll active" href="#totop">Products</a></li>
            <li><a class="section-scroll" href="services.html">Services</a></li>
            <li><a class="section-scroll" href="applications.html">Applications</a></li>
            <li><a class="section-scroll" href="news">News</a></li>
            <li><a class="section-scroll" href="contact.html">Contact</a></li>
            <li><a class="section-scroll" href="login.html">Log In</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- <div class="main"> -->
      <section style="background-position: top top" class="module bg-dark-60 about-page-header" data-background="assets/images/landing/Product_new.jpg" >
        <div class="container-3">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <h2 class="module-title font-alt">Products</h2>
              <div class="module-subtitle font-serif"></div>
            </div>
          </div>
        </div>
      </section>
      <div class="container-2">
        <br>
        <div class="filters" data-js="combination-filters">
          <div class="ui-group" style="float:right;">
            <p class="ui-group__title">TYPE </p>
            <div class="button-group js-radio-button-group" data-filter-group="size">
              <button class="button is-checked" data-filter="">All</button>
              <button class="button" data-filter=".motors">Motor</button>
              <button class="button" data-filter=".pumps">Pump</button>
              <button class="button" data-filter=".valves">Valves</button>
              <button class="button" data-filter=".electronics">Electronics</button>
              <button class="button" data-filter=".others">Others</button>
            </div>
          </div>
          <div class="ui-group">
            <p class="ui-group__title">BRAND </p>
            <div class="button-group js-radio-button-group" data-filter-group="color">
              <button class="button is-checked" data-filter="">All</button>
              <button class="button" data-filter=".Kolben">Kolben</button>
              <button class="button" data-filter=".PSM">PSM</button>
              <button class="button" data-filter=".PWG">PWG</button>
              <button class="button" data-filter=".Sunfab">Sunfab</button>
              <button class="button" data-filter=".Tecnord">Tecnord</button>
              <button class="button" data-filter=".Yoeshe">Yoeshe</button>
            </div>
          </div>


          <!-- <div class="ui-group">
            <p class="ui-group__title">Displacement</p>
            <div class="button-group js-radio-button-group" data-filter-group="shape">
              <button class="button is-checked" data-filter="">any</button>
              <button class="button" data-filter=".fixed"> Fixed</button>
              <button class="button" data-filter=".variable">Variable</button>
            </div>
          </div> -->



                <!-- #image-1 -->





            <!-- </section> -->
          <div class="grid">
            <%
              products.forEach(function(product){
                %>
                <% if(product.images.length<=0){ %>
                  <div class="hidden" id="img-repo">
                    <div class="item" id="<%= product._id %>">
                      <center>  <img style="height:250px; width: auto;" class="gallery-image img-responsive" title="<%= product.brand %> - <%= product.products %>" src="assets/images/post-4.jpg">
                      </center>
                      <div class="modal-footer">
                        <center><a class="btn btn-b btn-circle" href="<%= product.mainPath + "/" + product.docs[0] %>" download>Link to Catalogue</a></center>
                      </div>
                      <div class="text"><h7><% if(product.html) { %> <%- product.html %> <% } else { %> More information to be added based on input from Kolben Hydraulics.<% } %></h7></div>
                    </div>
                    </div>
                <% } %>
            <div style="background-image:url('<%= product.mainPath + "/" + product.images[0] %>'); background-origin:content-box; background-position:center; padding:10px; background-size:contain; background-repeat:no-repeat;" class="<%= product.type.toLowerCase() %> <%= product.brand %> clickable color-shape" id="<%= product._id %>"><a><%= product.products %></a></div>
            <div class="hidden" id="img-repo">
            <%  product.images.forEach(function(image){ %>
            <div class="item" id="<%= product._id %>">
            <center>  <img style="height:250px; width: auto;" class="gallery-image img-responsive" title="<%= product.brand %> - <%= product.products %>" src="<%= product.mainPath + "/" + image %>">
            </center>
            <div class="modal-footer">
              <center><a class="btn btn-b btn-circle" href="<%= product.mainPath + "/" + product.docs[0] %>" download>Link to Catalogue</a></center>
            </div>
              <div class="modal-footer">
              </div>
              <% if(product.html) { %>
              <h3><center><b><%= product.products %> Specifications</b></center></h3>
            <div class="text"><h8> <%- product.html %> <% } else { %> <div class="text"><h8><% } %></h8></div>
            <!-- <a class="button" href="<%= product.mainPath + "/" + product.docs[0] %>" download>Link to Catalogue</a> -->
          </div>
            <%  }) %>
          </div>

            <% }) %>
          </div>
       </div>
       </div>


     </div>
        <div class="module-small bg-dark">
          <div class="container-2">
            <div class="row">
              <div class="col-sm-6">
                <div class="widget">
                  <h5 class="widget-title font-alt">Kolben</h5>
                  <p>Packaged Solutions and Services for a range of Applications.</p>
                  <p>Phone:<a href="tel:+91-80-29724222"> +91-80-29724222</a></p>
                  <p>Email:<a href="mailto: marketingsupport@kolbenhydraulics.com">  marketingsupport@kolbenhydraulics.com</a></p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="widget">
                  <h5 class="widget-title font-alt">Quick Links</h5>
                  <ul class="icon-list">
                    <li><a href="index.html">Home </a></li>
                    <li><a href="about.html">About Us </a></li>
                    <li><a href="#totop">Products </a></li>
                    <li><a href="services.html">Services </a></li>
                    <li><a href="applications.html">Applications </a></li>
                    <li><a href="news">News </a></li>
                    <li><a href="contact.html">Contact </a></li>
                    <li><a href="login.html">Login </a></li>
                  </ul>
                </div>
              </div>
         
            </div>
          </div>
        </div>

        <hr class="divider-d">

        <footer class="footer bg-dark">
          <div class="container-2">
            <div class="row">
              <div class="col-xs-12">
                <p class="copyright font-alt">&copy; 2019&nbsp;Kolben Hydraulics Ltd., All Rights Reserved. Design by <a href="http://boilerplate.in" target="_blank">boilerplate</a></p>
              </div>
            </div>
          </div>
        </footer>

      </div>

      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>   </main>
    <!--
    JavaScripts
    =============================================
  -->
  <script src="assets/lib/jquery/dist/jquery.js"></script>
  <script src="assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="assets/lib/wow/dist/wow.js"></script>
  <script src="assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
  <script src="assets/lib/isotope/dist/isotope.pkgd.js"></script>
  <script src="assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
  <script src="assets/lib/flexslider/jquery.flexslider.js"></script>
  <script src="assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
  <!-- <script src="assets/lib/smoothscroll.js"></script> -->
  <script src="assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
  <script src="assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
  <script src="assets/js/plugins.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="assets/js/layout.js"></script>
  <!-- Slider script -->
  <script src="assets/js/productSlider.js" type="text/javascript"></script>

</body>
<div class="modal" id="modal-gallery" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">×</button>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
        <div id="modal-carousel" class="carousel">
          <div class="carousel-inner">
          </div>
          <a style="height:250px; margin-bottom:20%; margin-top:0 !important; color:black;" class="carousel-control left" href="#modal-carousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a style="height:250px; margin-bottom:20%; margin-top:0 !important;; color:black;" class="carousel-control right" href="#modal-carousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
</html>
