<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
  -->
  <title>Kolben Hydraulics | Services</title>
    <!--
    Favicons
    =============================================
  -->
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">

  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
    <!--
    Stylesheets
    =============================================

  -->
  <!-- Default stylesheets-->
  <link href="assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Template specific stylesheets-->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="assets/lib/animate.css/animate.css" rel="stylesheet">
  <link href="assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/lib/et-line-font/et-line-font.css" rel="stylesheet">
  <link href="assets/lib/flexslider/flexslider.css" rel="stylesheet">
  <link href="assets/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
  <link href="assets/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
  <link href="assets/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
  <!-- Main stylesheet and color file-->
  <link href="assets/css/style.css" rel="stylesheet">
  <link id="color-scheme" href="assets/css/colors/default.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
  <main>
    <div class="page-loader">
      <div class="loader">Loading...</div>
    </div>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-left" href="index.html"><img style="padding-left:10px; padding-bottom: 2px; padding-top: 2px;" src="assets/images/logo-1.png"></img></a>
        </div>
        <div class="collapse navbar-collapse" id="custom-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html">Home</a></li>
            <li><a class="section-scroll" href="about.html">About us</a></li>
            <li><a class="section-scroll active" href="#totop">Products</a></li>
            <li><a class="section-scroll" href="services.html">Services</a></li>
            <li><a class="section-scroll" href="applications.html">Application</a></li>
            <li><a class="section-scroll" href="news">News</a></li>
            <li><a class="section-scroll" href="contact.html">Contact</a></li>
            <li><a class="section-scroll" href="login.html">Log In</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="main">
      <section class="module bg-dark-60 service-page-header" data-background="assets/images/services_bg.jpg">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <h2 class="module-title font-alt"><%= products[0].products %></h2>
              <div class="module-subtitle font-serif"><%= products[0].brand %></div>
            </div>
          </div>
        </div>
      </section>

      <section class="module" id="services">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <h2 class="module-title font-alt"></h2>
              <div class="module-subtitle font-serif"></div>
            </div>
          </div>
          <div class="row multi-columns-row">
            <div class="container">

              <div class="service-right">
                <div class="row">

                  <div class="col-md-12">
                    <h2><%= products[0].products %></h2>
                    <div class="hr1"></div>
                    <center><div class="service1"><img style="width: 250px; height:auto;" src="<%= products[0].mainPath + "/" + products[0].images[0] %>"></div></center>
                  </div><div class="col-md-12">
                    <br>
                    <div class="module-subtitle p-left">
                      <p><%- products[0].html %></p>
                    </div>
                  </div>
                </div>
              </div>

              <hr class="divider-w">

              <!--Feature2-->



              </div>
            </div>


            <hr class="divider-w">


            <!--Service 4-->
            <div class="service-left">
              <div class="row">
                <div class="col-md-6">
                  <div class="service2"><img src="assets/images/work-2.jpg"></div>
                </div>

                <div class="col-md-6">
                  <h2>Service 4</h2>
                  <br>
                  <div class="hr1"></div>
                  <div class="module-subtitle p-right">
                    <p>Some Text about the service offered by kolben hydraulics which will be changed based on input provided ( following is some dummy text ) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis .</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="module-small bg-light">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
            <div class="callout-text font-alt">
              <h3 class="callout-title">Want to get a product serviced?</h3>
              <p>Contact us to get detailed infomration or some other text that will be added .</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="callout-btn-box"><a class="btn btn-b btn-circle text-uppercase" href="#">Contact Us</a></div>
          </div>
        </div>
      </div>
    </section>

    <div class="module-small bg-dark">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="widget">
                <h5 class="widget-title font-alt">Kolben</h5>
                <p>Packaged Solutions and Services for Various Mobile and Industrial Application.</p>
                <p>Phone:<a href="tel:+91-80-41170110"> +91-80-41170110</a></p>
                <p>Email:<a href="mailto:kolbenhydraulics@gmail.com"> kolbenhydraulics@gmail.com</a></p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="widget">
                <h5 class="widget-title font-alt">Quick Links</h5>
                <ul class="icon-list">
                  <div class="container">
                    <li><a href="index.html">Home </a></li>
                    <li><a href="about.html">About Us </a></li>
                    <li><a href="#totop">Products </a></li>
                    <li><a href="services.html">Services </a></li>
                    <li><a href="applications.html">Application </a></li>
                    <li><a href="news.html">News </a></li>
                    <li><a href="contact.html">Contact </a></li>
                    <li><a href="login.html">Login </a></li>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    <hr class="divider-d">

    <footer class="footer bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p class="copyright font-alt">&copy; 2018&nbsp;Kolben Hydraulics, All Rights Reserved. Design by <a href="http://boilerplate.in" target="_blank">boilerplate</a></p>
          </div>
        </div>
      </div>
    </footer>

  </div>

  <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>
    <!--
    JavaScripts
    =============================================
  -->
  <script src="assets/lib/jquery/dist/jquery.js"></script>
  <script src="assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="assets/lib/wow/dist/wow.js"></script>
  <script src="assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
  <script src="assets/lib/isotope/dist/isotope.pkgd.js"></script>
  <script src="assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
  <script src="assets/lib/flexslider/jquery.flexslider.js"></script>
  <script src="assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
  <script src="assets/lib/smoothscroll.js"></script>
  <script src="assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
  <script src="assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
  <script src="assets/js/plugins.js"></script>
  <script src="assets/js/main.js"></script>
</body>
</html>
